

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vh;
  position: relative;
}

#test {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
}
